@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #096eb1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3974dc;
}

@layer base {
  :root {
    --background: 0 0% 7%;
    --foreground: 0 0% 100%;
    --low-contrast-foreground: 0 0% 77%;
    --high-contrast-foreground: 274 28% 89%;

    --primary: 219 99% 55%;
    --primary-foreground: 240 100% 98%;

    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 100%;

    --border: 0 0% 100%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;

    --gradient: linear-gradient(
      to right,
      #1fa4d9 0%,
      #096eb1 37%,
      #026bec 71.75%,
      #3974dc 99.83%
    );
    --gradient-inverse: linear-gradient(
      to left,
      #1fa4d9 0%,
      #096eb1 37%,
      #026bec 71.75%,
      #3974dc 99.83%
    );

    --card-gradient: linear-gradient(
      to bottom right,
      hsla(218, 70%, 54%, 0),
      hsla(213, 98%, 47%, 0.1),
      hsla(204, 90%, 36%, 0.1),
      hsla(197, 75%, 49%, 0.1)
    );

    --card-white-gradient: linear-gradient(
      to right,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 100%, 0.05)
    );
  }
}

@layer utilities {
  .text-gradient {
    @apply text-transparent bg-gradient bg-clip-text;
  }

  .text-gradient-inverse {
    @apply text-transparent bg-gradient-inverse bg-clip-text;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-b from-[#051533] to-background text-foreground;
  }
}
